/* header.component.css */

/* Estilos para el contenedor principal del encabezado */
.header-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

/* Estilos para la imagen de fondo del encabezado */
.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Estilos para el texto del encabezado */
.header-text {
    position: absolute;
    top: 45%;
    left: 100px;
    transform: translateY(-50%);
    color: white;
}

/* Estilos para la presentación del encabezado */
.header-presentation {
    color: #fffffff6;
    letter-spacing: -1px;
    margin: 33px 0 33px -3px;
    padding-left: 0;
    font-family: Consolas, monaco, monospace;
    font-size: 1.5em;
    line-height: 1;
}

/* Estilos para la descripción del encabezado */
.header-description {
    width: auto;
    max-width: 500px;
    color: #dddddde4;
    letter-spacing: .3px;
    margin-bottom: 0px;
    font-family: Consolas, monaco, monospace;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    font-stretch: expanded;
}

/* Estilos para el contenedor del icono de desplazamiento */
.scroll-icon-container {
    position: absolute;
    bottom: 45px;
    left: 150%;
    transform: translateX(-50%);
    margin-top: 20px;
    cursor: pointer;
}

/* Estilos para el efecto de fondo del contenedor del icono de desplazamiento */
.scroll-icon-container::after {
    content: '';
    position: absolute;
    bottom: -218px;
    left: -35px;
    width: 80%;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

/* Estilos para el icono de desplazamiento al hacer hover */
.scroll-icon-container:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Estilos para el círculo del icono de desplazamiento */
.circle {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.305);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -40px;
    top: 220px;
}

/* Estilos para las líneas del icono de desplazamiento */
.line, .line-reverse {
    width: 10px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 17px;
}

.line {
    transform: rotate(45deg);
    left: 11px;
}

.line-reverse {
    transform: rotate(-45deg);
    right: 12px;
}

/* Estilos para pantallas de tamaño pequeño (móviles) */
@media screen and (max-width: 480px) {
    /* Estilos para la imagen de fondo del encabezado en pantallas pequeñas */
    .header-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }

    /* Estilos para el texto del encabezado en pantallas pequeñas */
    .header-text {
        position: absolute;
        top: 45%;
        left: 25px;
        transform: translateY(-50%);
        color: white;
    }

    /* Estilos para la presentación del encabezado en pantallas pequeñas */
    .header-presentation {
        margin-top: 0px;
        margin-bottom: 17px;
        font-size: 30px;
        line-height: 1.2;
    }

    /* Estilos para la descripción del encabezado en pantallas pequeñas */
    .header-description {
        border-radius: 10px;
        background: radial-gradient(circle, black, transparent);
    }

    /* Estilos para el contenedor del icono de desplazamiento en pantallas pequeñas */
    .scroll-icon-container {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 55%;
        margin-top: 20px;
        cursor: pointer; 
    }

    /* Estilos para el círculo del icono de desplazamiento en pantallas pequeñas */
    .circle {
        left: -25px;
    }

    /* Estilos para el efecto de fondo del contenedor del icono de desplazamiento en pantallas pequeñas */
    .scroll-icon-container::after {
        content: '';
        position: absolute;
        bottom: -218px;
        left: -20px;
        width: 81%;
        height: 41px;
        background-color: rgba(255, 255, 255, 0.3);
        z-index: -1;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }
}

/* Estilos para botones transparentes */
.transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

#mainSection {
    scroll-behavior: smooth;
  }