<div class="carousel-background">
  <div class="carousel-item">
    <div class="slides" #slidesContainer>

      <ng-container *ngFor="let project of projects; let i = index">
        <div id="slide-{{i}}">
          <div class="image-container">
            <img src="../../../assets/images/slide-{{ i + 1 }}.jpg" alt="Logo del proyecto" class="logo-img">
          </div>
          <div class="info-container">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <br>
            <!-- Agrega la clase "disabled" si el proyecto está deshabilitado -->
            <a *ngIf="project.enabled; else disabledLink" [href]="project.url" target="_blank" class="project-link">Ver Proyecto</a>
            <ng-template #disabledLink>
              <a class="disabled-link">Proyecto deshabilitado</a>
            </ng-template>
          </div>
        </div>
      </ng-container>
      
    </div>

    <!-- Botones para mover el carrusel -->
    <button class="back" (click)="scrollLeft()"><</button>
    <button class="next"(click)="scrollRight()">></button>

  </div>
</div>
