<div class="carousel-background">

  <div class="carousel-container">
    <div class="carousel-item">
      <div class="image-container">
        <img src="https://i.pinimg.com/736x/59/b2/ed/59b2ededc602810f0442383eedffeb2f.jpg" alt="Logo del proyecto"
          class="logo-img">
      </div>
      <div class="info-container">
        <h3>Nombre del Proyecto</h3>
        <p>Descripción del proyecto</p>
        <br>
        <a href="url_del_proyecto" target="_blank" class="project-link">Ver Proyecto</a>
      </div>
    </div>
    <!-- Agrega más divs .carousel-item para cada proyecto -->
  </div>


</div>