<div class="carousel-background">
    <div class="carousel-item">
        <div class="slides" #slidesContainer>
            <h1>Mis Experiencias</h1>
            <br>
            <ng-container *ngFor="let experience of experiences; let i = index">
                <div id="slide-{{i}}" class="carousel-slide">
                    <div class="image-container">
                        <img src="../../../assets/images/experience-{{ i + 1 }}.jpg" alt="Logo del proyecto" class="logo-img">
                    </div>
                    <div class="info-container">
                        <h3>{{ experience.name }}</h3>
                        <br>
                        <div class="details">
                            <p class="detail"><strong> Puesto:</strong> {{ experience.position }}</p>
                            <p class="detail"><strong>Rango:</strong> {{ experience.level }}</p>
                            <p class="detail"><strong> Duración:</strong> {{ experience.duration }}</p>
                        </div>
                        <br>
                        <p class="detail"><strong>Experiencia:</strong></p>
                        <p class="description">{{ experience.description }}</p>
                        <br>
                        <div class="languages">
                            <p class="language-item"><strong>Lenguajes usados:</strong></p>
                        </div>
                    </div>
                    <div class="tag-list">
                        <div class="inner">
                            <div class="tag"></div>
                            <ng-container *ngFor="let lang of parseLanguages(experience.language)">
                                <div class="tag"><span></span>{{ lang }}</div>
                            </ng-container>
                        </div>
                        <div class="fade"></div>
                    </div>
                    <a [href]="getExperienceUrl(experience.name)" target="_blank" class="project-link">Visitar Sitio</a>
                </div>
            </ng-container>
    <button class="back" (click)="scrollLeft()"><</button>
    <button class="next"(click)="scrollRight()">></button>
  </div>
</div>