<!-- main.component.html -->

<div id="mainSection" class="main-section">
  <div class="main-container">
    <div class="background-overlay"></div>
    <div class="div-buttons" *ngIf="headerData && headerData.main_content && headerData.main_content.buttons">
      <h1 class="info" *ngIf="showButtons">Obtén más información sobre mí</h1>
      <ul class="grid-list" [ngClass]="{'move-to-top-left': !showButtons}">
        <li *ngFor="let key of getButtonKeys()">
          <button *ngIf="headerData.main_content.buttons[key].show" class="circle-button"
            (click)="handleButtonClick(key)">
            <div class="outer-circle">
              <div class="inner-circle">
                <span class="plus-sign">{{ headerData.main_content.buttons[key].icon }}</span>
              </div>
            </div>
            <h2 class="button-name">{{ headerData.main_content.buttons[key].name }}</h2>
          </button>
        </li>
      </ul>
    </div>

    <div *ngIf="selectedComponent === 'titles'">
      <app-titles [titles]="titlesData"></app-titles>
    </div>
    <div *ngIf="selectedComponent === 'projects'">
      <app-projects [projects]="projectsData"></app-projects>
    </div>
    <div *ngIf="selectedComponent === 'experiences'">
      <app-experiences [experiences]="experiencesData"></app-experiences>
    </div>
    <div *ngIf="selectedComponent === 'certificates'">
      <app-certificates [certificates]="certificatesData"></app-certificates>
    </div>
  </div>
</div>