<div class="carousel-background">
  <div class="carousel-item">
    <div class="skills-info">
      <h1>Habilidades</h1>
      <ng-container *ngFor="let skillType of infoData.sidebar.skills | keyvalue">
        <h3 class="skill-type" >{{ formatSkillKey(skillType.key) }}</h3>
        <ul class="skill-icons">
          <li *ngFor="let skill of toArray(skillType.value)">
            <a [href]="getSkillOfficialLink(skill)" target="_blank">
              <img src="assets/images/skills/{{ skill }}.jpg" alt="{{ skill }}" class="skill-icon" name="{{ skill }}">
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="contact-info">
      <h1>Contacto</h1>
      <div class="contact-content">
        <p><a href="{{ infoData.footer.social_media.github }}" target="_blank">
          <img src="../../../assets/images/skills/Email.jpg" alt="GitHub" class="social-media-icon">
        </a>: {{ infoData.footer.contact.email }}</p>
        <p><a href="{{ infoData.footer.social_media.github }}" target="_blank">
            <img src="../../../assets/images/skills/Phone.png" alt="GitHub" class="social-media-icon">
          </a>: {{ infoData.footer.contact.phone }}</p>
        <h3>Redes</h3>
        <div class="social-media-links">
          <a href="{{ infoData.footer.social_media.github }}" target="_blank">
            <img src="../../../assets/images/skills/gitHub.jpg" alt="GitHub" class="social-media-icon">
          </a>
          <a href="{{ infoData.footer.social_media.gitlab }}" target="_blank">
            <img src="../../../assets/images/skills/GitLab.jpg" alt="Gitlab" class="social-media-icon">
          </a>
          <a href="{{ infoData.footer.social_media.linkedin }}" target="_blank">
            <img src="../../../assets/images/skills/LinkedIn.jpg" alt="LinkedIn" class="social-media-icon">
          </a>
      </div>
    </div>
  </div>
</div>